<h3 ng-if="aspirantura_selected_lecturer_uid && !c_roles.sotrudnik">
  {{_lecturer_fio}}
</h3>

<h4>Аспирантура</h4>

<!-- <div ng-if="aspirantura_selected_chair_id && !aspirantura_selected_lecturer_uid">
  <h5>{{chairs_sprav[aspirantura_selected_chair_id]['Name']}}</h5>
  <h5 ng-if="c_roles.uoup"><a href="/#/nagruzka/all/{{aspirantura_selected_chair_id}}">{{chairs_sprav[aspirantura_selected_chair_id]['Name']}}</a></h5>
</div> -->


<div ng-repeat="chair_id in _chairs_ids" ng-if="!nagruzka_selected_chair_id || nagruzka_selected_chair_id && nagruzka_selected_chair_id == chair_id">
  <h5 ng-if="!(c_roles.uoup || c_roles.dean)">{{chairs_sprav[chair_id]['Name']}}</h5>
  <h5 ng-if="c_roles.uoup || c_roles.dean"><a href="/#/nagruzka/all/{{chair_id}}">{{chairs_sprav[chair_id]['Name']}}</a></h5>

  <div ng-if="c_roles.uoup || c_roles.dean"><a href="/#/sotrudniki/{{chair_id}}" class="btn btn-primary btn-xs mb-1">Сотрудники</a></div>

  <div class="alert alert-info w-50" ng-if="!NagruzkaStatVisible(chair_id) && c_roles.sotrudnik">
    <p>Заведующий кафедрой пока не предоставил Вам возможность просмотра распределённой нагрузки</p>
  </div>

  <ng-include src="'./aspirantura_nagruzka_stat.tpl.html'" ng-if="NagruzkaStatVisible(chair_id)"></ng-include>
</div>


<ul class="nav nav-tabs clean-tabs mt-2 ">

  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': visible_tab == 'aspirantura_kand_exam', 'pointer': visible_tab != 'aspirantura_kand_exam'}" ng-click="ShowAspiranturaTab('aspirantura_kand_exam')">Нагрузка по кандидатским экзаменам</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': visible_tab == 'aspirantura_itog_exam', 'pointer': visible_tab != 'aspirantura_itog_exam'}" ng-click="ShowAspiranturaTab('aspirantura_itog_exam')">Нагрузка по итоговому экзамену</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': visible_tab == 'aspirantura_ruk_asp', 'pointer': visible_tab != 'aspirantura_ruk_asp'}" ng-click="ShowAspiranturaTab('aspirantura_ruk_asp')">Руководство аспирантами</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': visible_tab == 'aspirantura_ruk_soisk', 'pointer': visible_tab != 'aspirantura_ruk_soisk'}" ng-click="ShowAspiranturaTab('aspirantura_ruk_soisk')">Руководство соискателями</a>
  </li>

</ul>

<div id="myTabContent" class="tab-content" >

  <!-- Нагрузка по кандидатским экзаменам -->
  <div class="tab-pane fade pt-3" ng-class="{'show active': visible_tab == 'aspirantura_kand_exam'}" ng-if="visible_tab == 'aspirantura_kand_exam'">
    
    <aspirantura-kand-exam aspirantura-selected-lecturer-uid="aspirantura_selected_lecturer_uid" aspirantura-selected-chair-id="aspirantura_selected_chair_id"></aspirantura-kand-exam>

  </div>

  <!-- Нагрузка по итоговому экзамену -->
  <div class="tab-pane fade pt-3" ng-class="{'show active': visible_tab == 'aspirantura_itog_exam'}" ng-if="visible_tab == 'aspirantura_itog_exam'">

    <aspirantura-itog-exam aspirantura-selected-lecturer-uid="aspirantura_selected_lecturer_uid" aspirantura-selected-chair-id="aspirantura_selected_chair_id" system-mode="system_mode" chairs-sprav="chairs_sprav"></aspirantura-itog-exam>

  </div>

  <!-- Руководство аспирантами -->
  <div class="tab-pane fade pt-3" ng-class="{'show active': visible_tab == 'aspirantura_ruk_asp'}" ng-if="visible_tab == 'aspirantura_ruk_asp'">

    <aspirantura-ruk-asp aspirantura-selected-lecturer-uid="aspirantura_selected_lecturer_uid" aspirantura-selected-chair-id="aspirantura_selected_chair_id" system-mode="system_mode"></aspirantura-ruk-asp>

  </div>

  <!-- Руководство соискателями -->
  <div class="tab-pane fade pt-3" ng-class="{'show active': visible_tab == 'aspirantura_ruk_soisk'}" ng-if="visible_tab == 'aspirantura_ruk_soisk'">

    <aspirantura-ruk-soisk aspirantura-selected-lecturer-uid="aspirantura_selected_lecturer_uid" aspirantura-selected-chair-id="aspirantura_selected_chair_id"></aspirantura-ruk-soisk>

  </div>

</div>