<div ng-if="isAspiranturaRukSoiskLoading">
  <img src="/images/hourglass.png" style='position:fixed; left: 47%; top: 47%; z-index: 1000'>
</div>

<div ng-if="!isAspiranturaRukSoiskLoading">

<!--     <select class="form-select mb-2" style="width: 300px" ng-model="aspirantura_ruk_soisk_filter.filter" ng-change="onNagruzkaAspiranturaRukSoiskGlobalFilterChange()" ng-if="!nagruzka_selected_lecturer_uid">
      <option value="">Вся нагрузка</option>
      <option value="assigned">распределена</option>
      <option value="not_assigned">не распределена</option>
    </select> -->

    <table id="DataTables_Table_aspirantura_soisk" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="onAspiranturaRukSoiskNagruzkaTableInstance" class="dataTable row-border hover display table "  style='margin: 0 0 ;width:100%; ' >
      <thead>

        <tr>
          <th>ФИО</th>
          <th>Приказ</th>
          <th>Факультет преподавателя</th>
          <th>Кафедра преподавателя</th>
          <th>Преподаватель</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in aspirantura_ruk_soisk" class="pointer" ng-class="{'readonly': false}" ng-click="AspiranturaRukSoiskOpenDialog(row, $index)">
          <td>{{row.fio}}</td>
          <td>{{row.prikaz}}</td>
          <td>{{row.lecturer_department_name}}</td>
          <td>{{row.lecturer_chair_name}}</td>
          <td>{{row.lecturer_fio}}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <th ind="0"></th>
          <th ind="1"></th>
          <th ind="2"></th>
          <th ind="3"></th>
          <th ind="4"></th>
        </tr>
      </tfoot>

    </table>

    <a ng-click="$root.ClearGreenTableFilters(dtAspiranturaRukSoiskInstance, aspirantura_ruk_soisk_filter)" class="link pointer" style="float:right">сбросить фильтры</a>


  <button class="btn btn-sm btn-primary" ng-click="AspiranturaRukSoiskOpenDialog()" ng-if="MayAddAspiranturaRukSoisk()">Добавить</button>

  

</div>


