<table id="DataTables_Table_ksro" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="onKSROTableInstance" class="dataTable row-border hover display table "  style='margin: 0 0 ;width:100%; ' >
  <thead>

    <tr>
      <th>ФИО преподавателя</th>
      <th>Должность</th>
      <th>Доля ставки</th>
      <th>Язык программы</th>
      <th>ИК осень</th>
      <th>ИК весна</th>
      <th>КСРО осень</th>
      <th>КСРО весна</th>
      </tr>
  </thead>

  <tbody>
    <tr ng-repeat="row in ksro" class="pointer" ng-click="editKSRO(row)">
      <td>{{row.fio}}</td>
      <td>{{row.dolzhnost}}</td>
      <td>{{row.stavka}}</td>
      <td>{{$_languages[row.language_uid]}}</td>
      <td>{{row.ik_osen}}</td>
      <td>{{row.ik_vesna}}</td>
      <td>{{row.ksro_osen}}</td>
      <td>{{row.ksro_vesna}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th ind="0">
      </th>
      <th ind="1"></th>
      <th ind="2"></th>
      <th ind="3"></th>
      <th ind="4"></th>
      <th ind="5"></th>
      <th ind="6"></th>
      <th ind="7"></th>
    </tr>
  </tfoot>
  
</table>


<button class="btn btn-primary btn-sm" ng-click="data.show_edit_ksro = true" ng-if="!data.show_edit_ksro">Добавить</button>

<div ng-if="data.show_edit_ksro">
  
  <h4 ng-if="edit_ksro.id">Редактирование</h4>
  <h4 ng-if="!edit_ksro.id">Добавить</h4>
  
  <div>
    <div style="width: 400px">
      <label class="form-label">ФИО:</label>
      <span ng-if="edit_ksro.id">{{edit_ksro.fio}}</span>
      <div ng-if="!edit_ksro.id">
        <!-- {{row.xml_content_of_load_UID}}_{{row.xml_content_of_load_staff_UID}} -->
        <angucomplete-alt id="lecturer_autocomplete" input-name=""
            placeholder="Введите ФИО"
            pause="400"
            initial-value=""
            focus-out="focusOutLecturer()"
            selected-object="KSROSelectedLecturer"
            selected-object-data=""
            input-changed="inputChangedLecturerKSRO"
            remote-url="ajax/get/selected_chair_sotrudniki.php?callback=JSON_CALLBACK&s="
            title-field="fio"
            match-class="highlight"
            text-searching="Поиск..." 
            minlength="3"
            text-no-results="Не найдено"
            input-class="form-control autocomplete" style='width:50%' />
      </div>
    </div>
    <div ng-if="edit_ksro.person_id">
      <label class="form-label">Должность: {{edit_ksro.dolzhnost}}</label>
      <!-- <input type="text" class="form-control" ng-model="edit_ksro.lecturer_dolzhnost" readonly> -->
    </div>
    <div ng-if="edit_ksro.person_id">
      <label class="form-label">Доля ставки: {{edit_ksro.stavka}}</label>
      <!-- <input type="text" class="form-control" ng-model="edit_ksro.lecturer_stavka" readonly> -->
    </div>
  </div>

  <div style="width: 150px">
      <label class="form-label">Язык:</label>
      <select class="form-select" ng-model="edit_ksro.language_uid">
        <option value="">Выберите язык</option>
        <option value="25031.281474976715638">Русский</option>
        <option value="25031.945">Английский</option>
      </select>
  </div>

  <div>
    <div>
      <label class="form-label">Индивидуальные консультации (осень):</label>
      <input type="text" class="form-control" ng-model="edit_ksro.ik_osen" number-input>
    </div>
    <div>
      <label class="form-label">Индивидуальные консультации (весна):</label>
      <input type="text" class="form-control" ng-model="edit_ksro.ik_vesna" number-input>
    </div>
  </div>

  <div>
    <div>
      <label class="form-label">КСРО (осень):</label>
      <input type="text" class="form-control" ng-model="edit_ksro.ksro_osen" number-input>
    </div>
    <div>
      <label class="form-label">КСРО (весна):</label>
      <input type="text" class="form-control" ng-model="edit_ksro.ksro_vesna" number-input>
    </div>
  </div>

  <div class="mb-3 mt-3">
    <button class="btn btn-success btn-sm" ng-click="saveKSRO()" ng-disabled="!edit_ksro.person_id">Сохранить</button>
    <button class="btn btn-danger btn-sm" ng-click="deleteKSRO(edit_ksro)" ng-if="edit_ksro.id">Удалить</button>
    <button class="btn btn-secondary btn-sm" ng-click="cancelKSRO()">Отмена</button>
  </div>
</div>