<!-- ng-if="system_mode == 'mode_filling' || system_mode == 'mode_verification' || system_mode == 'mode_archive'" -->
 
<div class="alert alert-info" ng-if="system_mode == 'export_to_galaktika'">
  <h4>Выгрузка данных в Галактику</h4>
  <p>Информация тут будет доступна завтра.</p>
</div>



<div ng-if="system_mode != 'export_to_galaktika'">

  <!-- {{_lecturer_uid}} -->
  <h3 ng-if="nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">
    {{_lecturer_fio}}
  </h3>

  <h4>
  {{$_nagruzka_types[_nagruzka_type]}}
  </h4>
<!--     {{nagruzka_selected_chair_id}}
    {{chairs_sprav[nagruzka_selected_chair_id]['Name']}} -->

    
<!--   <div ng-if="nagruzka_selected_chair_id && !nagruzka_selected_lecturer_uid">
    <h5 ng-if="!c_roles.uoup || c_roles.uoup && _nagruzka_type == 'all'">{{chairs_sprav[nagruzka_selected_chair_id]['Name']}}</h5>
    <h5 ng-if="c_roles.uoup && _nagruzka_type != 'all'"><a href="/#/nagruzka/all/{{nagruzka_selected_chair_id}}">{{chairs_sprav[nagruzka_selected_chair_id]['Name']}}</a></h5>
  </div> -->



  <div ng-repeat="chair_id in _chairs_ids" ng-if="!nagruzka_selected_chair_id || nagruzka_selected_chair_id && nagruzka_selected_chair_id == chair_id">
    <!-- {{chair_id}} -->
    <!-- <h5 ng-if="!c_roles.uoup">{{_chairs_titles[$index]}}</h5>
    <h5 ng-if="c_roles.uoup"><a href="/#/nagruzka/all/chair_id">{{_chairs_titles[$index]}}</a></h5> -->

    <h5 ng-if="!c_roles.uoup">{{chairs_sprav[chair_id]['Name']}}</h5>
    <h5 ng-if="c_roles.uoup"><a href="/#/nagruzka/all/{{chair_id}}">{{chairs_sprav[chair_id]['Name']}}</a></h5>

    <!-- <div ng-if="c_roles.uoup"><a href="/#/sotrudniki/{{chair_id}}" class="btn btn-primary btn-xs mb-1">Сотрудники</a></div> -->

    <!-- <div ng-if="chairs_sprav[chair_id]['visible']">vis</div> -->
    <div class="alert alert-info w-50" ng-if="!NagruzkaStatVisible(chair_id)">
      <p>Заведующий кафедрой пока не предоставил Вам возможность просмотра распределённой нагрузки</p>
    </div>

    <ng-include src="'./nagruzka_stat.tpl.html'" ng-if="NagruzkaStatVisible(chair_id)"></ng-include>

  </div>


  <!-- c_roles.zavkaf -->

  

  <!-- {{nagruzka_type}} -->

  <div ng-if="isLoading">
    <img src="/images/hourglass.png" style='position:fixed; left: 47%; top: 47%; z-index: 1000'>
  </div>

  <!-- {{filter_distinct.global_nagruzka_filter}} -->
  <!-- && _nagruzka_type != 'all' -->
  <div ng-show="_nagruzka_type && _nagruzka_type != 'all' && !isLoading">
    <select class="form-select mb-2" style="width: 300px" ng-model="filter_distinct.global_nagruzka_filter" ng-change="onNagruzkaGlobalFilterChange()" ng-if="!nagruzka_selected_lecturer_uid">
      <option value="">Вся нагрузка</option>
      <option value="assigned">распределена</option>
      <option value="not_assigned">не распределена</option>
      <option value="assigned_to_vacancy">распределена на вакансию</option>
    </select>

    <table id="DataTables_Table_nagruzka" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="onNagruzkaTableInstance" class="dataTable row-border hover display table "  style='margin: 0 0 ;width:100%; ' >
      <!-- ng-show="nagruzka_type" -->
      <thead>

        <tr>
          <th style="width: 20px" ng-show="MaySelectNagruzka()">выбор</th>
          <th>Факультет</th>
          <th>Аббр</th>
          <th>Дисциплина</th>
          <th>Группа</th>
          <th>Уровень образования</th>
          <th>Направление подготовки</th>
          <th>Язык программы</th>
          <th>Форма обучения</th>
          <th>Семестр</th>
          <th>Количество студентов</th>
          <th>Вид работ</th>
          <th>Профиль/направленность программы</th>
          <th>Курс</th>
          <th>Количество часов</th>
          <th>Преподаватель</th>
          <th>Комментарий</th>
          <!-- <th></th> -->

        </tr>
      </thead>

      <tbody>
        <!-- ng-click="ShowPopup(person)" -->
          <!-- | orderBy:['-selected', 'type', 'fio'] -->
           <!-- && !IsNagruzkaRowEditable(row) -->
        <tr ng-repeat="row in nagruzka" class="pointer" ng-class="{'readonly': !MaySelectNagruzka(row) && c_roles.zavkaf}">
          <td ng-click="MaySelectNagruzka() && SelectNagruzkaTDClick(row); $event.stopPropagation()" ng-show="MaySelectNagruzka()">  
            <input type="checkbox" ng-model="row.selected" ng-click="$event.stopPropagation()" >
            <!-- {{row.base_uid}} -->
          </td>
          <td ng-click="NagruzkaRowClick(row)">
            {{row.department_owner_name}}
          </td>
          <td ng-bind-html="row.Abbr" ng-click="NagruzkaRowClick(row)">
          </td>
          <td ng-bind-html="row.discipline_name" ng-click="NagruzkaRowClick(row)">
          </td>
          <td ng-bind-html="row.group_name" ng-click="NagruzkaRowClick(row)">
          </td>
          <td ng-click="NagruzkaRowClick(row)">{{row.education_level}}</td>
          <td ng-bind-html="row.napravlenie" ng-click="NagruzkaRowClick(row)"></td>
          <td ng-click="NagruzkaRowClick(row)">{{row.language}}</td>
          <td ng-click="NagruzkaRowClick(row)">{{row.form_obuchenia}}</td>
          <td ng-click="NagruzkaRowClick(row)">{{row.UID_Semester}}</td>
          <td ng-click="NagruzkaRowClick(row)">{{row.StudentAmount}}</td>
          <td ng-click="NagruzkaRowClick(row)">{{row.kind_of_work}}</td>
          <td ng-bind-html="row.napravlennost" ng-click="NagruzkaRowClick(row)"></td>
          <td ng-click="NagruzkaRowClick(row)">{{row.UID_Course}}</td>
          <td ng-click="NagruzkaRowClick(row)">{{GetNagruzkaAmount(row)}}</td>
          <td>

            <!-- {{row.lectors.length}} -->
            <div ng-repeat="lector in row.lectors" style="margin-bottom:3px" ng-if="!lector.delete">
              <div style="display: flex; align-items: center; gap: 8px;">
                <div>
                  <span ng-if="lector.lecturer_fio.length">{{lector.lecturer_fio | formatFio}}</span> 
                  <span ng-if="!lector.lecturer_fio.length">[не&nbsp;распределено]</span> 
                  <span ng-if="row.lectors.length > 1">({{lector.Amount | toFixed:2}})</span>
                </div>
                <span ng-click="NagruzkaShowLecturerAutocomplete(lector, 'lecturer_autocomplete_' + row.base_uid2); $event.stopPropagation()" class="link glyphicon glyphicon-edit" ng-if="!lector.show_lecturer_autocomplete && NagruzkaMayAssignLector(row, lector)" style="display:inline-block"></span>
              </div>

               <!-- ng-if="!nagruzka_readonly" -->
              <div>

                <div ng-if="lector.show_lecturer_autocomplete">
                  <!-- {{row.xml_content_of_load_UID}}_{{row.xml_content_of_load_staff_UID}} -->
                  <angucomplete-alt id="lecturer_autocomplete_{{row.base_uid2}}" input-name=""
                      placeholder="Введите ФИО"
                      pause="400"
                      initial-value=""
                      focus-out="focusOutLecturer()"
                      selected-object="NagruzkaSelectedLecturer"
                      selected-object-data="lector"
                      input-changed="inputChangedLecturer"
                      remote-url="ajax/get/selected_chair_sotrudniki.php?callback=JSON_CALLBACK&lectors_num={{GetNagruzkaRealLectorsNum(row.lectors)}}&chair_id={{nagruzka_selected_chair_id}}&s="
                      title-field="fio"
                      match-class="highlight"
                      text-searching="Поиск..." 
                      minlength="1"
                      text-no-results="Не найдено"
                      description-field="dolzhnost_hint"
                      input-class="form-control autocomplete" style='width:50%' />
                </div>
              </div>
              
            </div>

            <!-- IsNagruzkaRowEditable(row) -->
<!--             {{GetNagruzkaRealLectorsNum(row.lectors)}}
            {{NagruzkaMayAssignLector(row)}} -->
            <div ng-if="GetNagruzkaRealLectorsNum(row.lectors) > 1 && NagruzkaMayAssignLector(row)" ng-click="QuickOpenAssignToSeveralSotrudikiPopup(row)"><span class="glyphicon glyphicon-list"></span></div>

          </td>
          <td>
            {{row.comment_to_admin}}
          </td>
        </tr>

      </tbody>

      <tfoot>
          <tr>
            <th ind="0" ng-show="MaySelectNagruzka()">
    <!--             <button class="btn btn-xs btn-success" ng-click="SelectAllFilteredNagruzkaRows()">✓</button>
              <button class="btn btn-xs btn-danger" ng-click="SelectAllFilteredNagruzkaRows()">❌</button> -->
              <div class="btn-group btn-group-xs" role="group" style="margin-bottom:2px;">
                <button class="btn btn-xs btn-success" ng-click="SelectAllFilteredNagruzkaRows()" style=""><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-xs btn-danger" ng-click="DeselectSelectAllFilteredNagruzkaRows()"><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            </th>
            <th ind="1"></th>
            <th ind="2"></th>
            <th ind="3"></th>
            <th ind="4"></th>
            <th ind="5"></th>
            <th ind="6"></th>
            <th ind="7"></th>
            <th ind="8"></th>
            <th ind="9"></th>
            <th ind="10"></th>
            <th ind="11"></th>
            <th ind="12"></th>
            <th ind="13"></th>
            <th ind="14">{{GetNagruzkaAmountSum()}}</th>
            <th ind="15"></th>
            <th ind="16"></th>
          </tr>
        </tfoot>
      </table>

      <a ng-click="ClearGreenTableFilters(dtInstance, filter_distinct, lecturer_uid, _nagruzka_type, nagruzka_selected_chair_id)" class="link pointer" style="float:right">сбросить фильтры</a>

    </div>



  <div ng-if="SomeNagruzkaRowsSelected()">
    Групповые действия

    <div>
      <!-- {{GetFilteredNagruzkaRows().length}} -->
      Выбрано {{GetNagruzkaSelectedCount()}} строк
      <!-- Выбрано {{SelectAllFilteredNagruzkaRows().length}} строк -->
    </div>
    
    Укажите, что сделать с выбранными строками:
    <select class="form-select" ng-model="group_action.action" ng-change="ChangeGroupAction()" style="width: 30%">
      <!-- TODO: вариант виден только если selected одна строка нагрузки -->
      <option value="assign_to_several_sotrudniki" ng-if="IsGroupActionAllowed('assign_to_several_sotrudniki') && GetNagruzkaSelectedCount() == 1">Распределение нагрузки на несколько сотрудников</option>
      <option value="assign_to_sotrudnik" ng-if="IsGroupActionAllowed('assign_to_sotrudnik')">Распределить всё на одного сотрудника</option>
      <option value="assign_to_vacancy" ng-if="IsGroupActionAllowed('assign_to_vacancy')">Распределить всё на «вакансию»</option>
      <option value="refuse_nagruzka" ng-if="IsGroupActionAllowed('refuse_nagruzka')">Отказаться от выбранной нагрузки</option>
      <option value="require_admin_change" ng-if="IsGroupActionAllowed('require_admin_change')">Запрос администратору на внесение изменений</option>
      <option value="write_admin_comment" ng-if="IsGroupActionAllowed('write_admin_comment')">Написать комментарий</option>
    </select>

    <div ng-if="group_action.action == 'assign_to_sotrudnik'" class="mt-2" style="width: 30%">
      <angucomplete-alt id="group_action_autocomplete" input-name=""
          placeholder="Введите ФИО"
          pause="400"
          initial-value=""
          focus-out="focusOutLecturer()"
          selected-object="GroupActionSelectedLecturer"
          selected-object-data="row"
          input-changed="GroupActionInputChangedLecturer"
          remote-url="ajax/get/selected_chair_sotrudniki.php?callback=JSON_CALLBACK&s="
          title-field="fio"
          match-class="highlight"
          text-searching="Поиск..." 
          minlength="3"
          text-no-results="Не найдено"
          description-field="dolzhnost_hint"
          input-class="form-control autocomplete" style='width:50%' />
    </div>

    <div ng-if="group_action.action == 'refuse_nagruzka' || group_action.action == 'require_admin_change' || group_action.action == 'write_admin_comment'" class="mt-2" style="width: 30%">
      Комментарий:
      <textarea class="form-control w-100" ng-model="group_action.message"  id="group_action_comment"></textarea>
    </div>

    <button class="btn btn-sm btn-success mt-2" ng-click="DoGroupAction()" ng-disabled="!group_action">Выполнить</button>

  </div>

</div>
