<!-- {{$index}}
{{_lecturer_uids[$index]}} -->

 <!-- ng-if="!nagruzka_selected_chair_id || nagruzka_selected_chair_id && nagruzka_selected_chair_id == chair_id && !c_roles.sotrudnik" -->
<table class="widefat mb-3">

  <thead>
    <tr>
      <th>тип нагрузки</th>
      <th ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">Всего нагрузки</th>
      <th ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">Не распределено</th>
      <th>
        <span ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">Нагрузка общая</span>
        <span ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">Распределено</span>
      </th>
      <th ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">Нагрузка аудиторная</th>
      <th ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">Нагрузка на английском языке</th>
      <th ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">На вакансию</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('discipline', chair_id, _lecturer_uids[$index])}}">Дисциплины</a></span>
        <span ng-if="!true">Дисциплины</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['discipline']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['discipline']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['discipline']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['discipline']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['discipline']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['discipline']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('ruk_vkr', chair_id, _lecturer_uids[$index])}}">Руководство ВКР</a></span>
        <span ng-if="!true">Руководство ВКР</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_vkr']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_vkr']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['ruk_vkr']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_vkr']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_vkr']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_vkr']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('ruk_kurs', chair_id, _lecturer_uids[$index])}}">Руководство курсовыми работами</a></span>
        <span ng-if="!true">Руководство курсовыми работами</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_kurs']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_kurs']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['ruk_kurs']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_kurs']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_kurs']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_kurs']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('ruk_practice', chair_id, _lecturer_uids[$index])}}">Руководство практикой</a></span>
        <span ng-if="!true">Руководство практикой</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_practice']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_practice']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['ruk_practice']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_practice']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_practice']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ruk_practice']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('ksro', chair_id, _lecturer_uids[$index])}}">Индивидуальные консультации и КСРО</a></span>
        <span ng-if="!true">Индивидуальные консультации и КСРО</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ksro']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ksro']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['ksro']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ksro']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ksro']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['ksro']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('gia', chair_id, _lecturer_uids[$index])}}">ГИА</a></span>
        <span ng-if="!true">ГИА</span>
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['gia']['total']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['gia']['not_assigned']['sum'] | toFixed:1}}</td>
      <td>{{nagruzka_stat[chair_id]['gia']['assigned']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['gia']['assigned_auditorium']['sum'] | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{nagruzka_stat[chair_id]['gia']['assigned_english']['sum'] | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{nagruzka_stat[chair_id]['gia']['assigned_to_vacancy']['sum'] | toFixed:1}}</td>
    </tr>

    <tr>
      <td>
        <span ng-if="true"><a href="{{GetNagruzkaTypesRowLink('aspirantura', chair_id, _lecturer_uids[$index])}}">Руководство аспирантами и соискателями, кандидатские экзамены</a></span>
        <!-- <span ng-if="!c_roles.zavkaf">Руководство аспирантами и соискателями, кандидатские экзамены</span> -->
      </td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{GetNagruzkaStatsAspiranturaSum(chair_id, 'total') | toFixed:1}}</td>
      <!-- {{GetNagruzkaStatsAspiranturaSum(chair_id, 'not_assigned') | toFixed:1}} -->
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik"></td>
      <td>{{GetNagruzkaStatsAspiranturaSum(chair_id, 'assigned') | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{GetNagruzkaStatsAspiranturaSum(chair_id, 'assigned_auditorium') | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{GetNagruzkaStatsAspiranturaSum(chair_id, 'assigned_english') | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik"></td>
    </tr>
    
  </tbody>

  <tfoot>
    <tr>
      <td>Итого</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{GetNagruzkaStatsSum(chair_id, 'total') | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{GetNagruzkaStatsSum(chair_id, 'not_assigned') | toFixed:1}}</td>
      <td>{{GetNagruzkaStatsSum(chair_id, 'assigned') | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{GetNagruzkaStatsSum(chair_id, 'assigned_auditorium') | toFixed:1}}</td>
      <td ng-if="nagruzka_selected_lecturer_uid || c_roles.sotrudnik">{{GetNagruzkaStatsSum(chair_id, 'assigned_english') | toFixed:1}}</td>
      <td ng-if="!nagruzka_selected_lecturer_uid && !c_roles.sotrudnik">{{GetNagruzkaStatsSum(chair_id, 'assigned_to_vacancy') | toFixed:1}}</td>
    </tr>
  </tfoot>
  
</table>