<div ng-if="system_mode == 'mode_filling' || system_mode == 'mode_verification' || system_mode == 'mode_archive'">

  <h5 ng-if="sotrudniki_selected_chair_name">{{sotrudniki_selected_chair_name}}</h5>

  <div style="margin-bottom: 20px" ng-if="c_roles.zavkaf">
    <label style="display: inline-block">Сотрудники видят свою нагрузку</label>
    <select class="form-select" style="display: inline-block; width: 100px" ng-model="data.sotrudnik_chair_nagruzka_visibility" ng-change="SaveSotrudnikNagruzkaVisibility()">
      <option value="1">да</option> <option value="0">нет</option>
    </select>
  </div>

<!-- dt-columns="dtColumns" -->
  <div >
    <!-- {{sotrudniki.length}} -->
    <!-- datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="dtInstance"  -->
    <table id="DataTables_Table_1" class="dataTable row-border hover display table " datatable="ng" dt-options="dtOptions" dt-instance="onSotrudnikiTableInstance" style='margin: 0 0 ;width:100%'>

    <thead>
      <tr>
        <th style="width: 20px" ng-if="c_roles.zavkaf">выбор</th>
        <th>ФИО</th>
        <th>должность</th>
        <th>тип</th>
        <th>ставка</th>
        <th>ПКГ - ПКУ</th>
        <th>нагрузка общая</th>
        <th>нагрузка аудиторная</th>
        <th>нагрузка на английском языке</th>
      </tr>
    </thead>

    <tbody>
       <!-- ng-click="ShowPopup(person)" -->
        <!-- | orderBy:['-selected', 'type', 'fio'] -->

      <tr ng-repeat="person in sotrudniki" ng-click="navigateToNagruzka(person)" ng-class="{'pointer': person.amount_sum > 0}" >
        <td ng-if="c_roles.zavkaf" ng-click="person.selected = !person.selected; SelectSotrudnik(person); $event.stopPropagation()">  
          <!-- sotrudniki_readonly -->
          <input type="checkbox" ng-model="person.selected" ng-change="SelectSotrudnik(person)" ng-click="$event.stopPropagation()" ng-disabled="(person.type == 'sotrudnik' && person.selected) || sotrudniki_readonly">
        </td>
        <td>
          {{person.fio}}
        </td>
        <td>
          {{person.dolzhnost}}
        </td>
        <td>
            {{$_sotrudnik_types[person.type]}}
        </td>
        <td>{{person.stavka}}</td>
        <td>
          <span ng-if="person.pku">{{person.pkg}} - {{person.pku}}</span>
        </td>

        <td>
          {{person.amount_sum | formatHours}}
        </td>
        <td>
          {{person.amount_sum_auditorium | formatHours}}
        </td>
        <td>
          {{person.amount_sum_eng | formatHours}}
        </td>
        <!-- <td>
          {{person.amount_sum > 0 ? person.amount_sum : ''}}
        </td>
        <td>
          {{person.amount_sum_auditorium > 0 ? person.amount_sum_auditorium : ''}}
        </td>
        <td>
          {{person.amount_sum_eng > 0 ? person.amount_sum_eng : ''}}
        </td> -->
      </tr>

    </tbody>

     <tfoot>
        <tr>
          <th ng-if="c_roles.zavkaf"></th>
          <th></th>
          <th>
<!--             
            <select class="select_filter form-control" rel="2">
              <option value="Yoda">Yoda</option>
              <option value=""></option>
            </select> -->
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>


    </table>

    <!-- <a ng-click="ClearGreenTableFilters(dtInstance, filter_distinct)" class="link pointer" style="float:right">сбросить фильтры</a> -->

  </div>

</div> 