<table id="DataTables_Table_nagruzka_to_change" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="dataTable row-border hover display table "  style='margin: 0 0 ;width:100%; '>
  <thead>

    <tr>
      <th style="width: 20px" ng-if="system_mode != 'mode_archive'"></th>
      <th>Факультет</th>
      <th>Кафедра</th>
      <th>Аббр</th>
      <th>Дисциплина</th>
      <th>Группа</th>
      <th>Уровень образования</th>
      <th>Направление подготовки</th>
      <th>Язык программы</th>
      <th>Форма обучения</th>
      <th>Семестр</th>
      <th>Количество студентов</th>
      <th>Вид работ</th>
      <th>Профиль/направленность программы</th>
      <th>Курс</th>
      <th>Количество часов</th>
      <!-- <th>Преподаватель</th> -->
      <!-- <th></th> -->
      <!-- <th></th> -->

    </tr>
  </thead>

  <tbody>
     <!-- ng-click="ShowPopup(person)" -->
      <!-- | orderBy:['-selected', 'type', 'fio'] -->
    <tr ng-repeat="row in nagruzka" ng-if="row.status == 'require_admin_change'"  ng-click="NagruzkaRowClick(row); $event.stopPropagation()">
      <td ng-if="system_mode != 'mode_archive'">
        <button class="btn btn-primary btn-xs" ng-click="UOUPCancelToChange(row)">Отклонить</button>
        <button class="btn btn-success btn-xs mt-1" ng-click="UOUPDoneToChange(row)">Выполнено</button>
        <!-- {{row.base_uid}} -->
      </td>
      <td>{{row.department_name}}</td>
      <td>{{row.chair_name}}</td>
      <td ng-bind-html="row.Abbr">
      </td>
      <td ng-bind-html="row.discipline_name">
      </td>
      <td ng-bind-html="row.group_name">
      </td>
      <td>{{row.education_level}}</td>
      <td>{{row.napravlenie}}</td>
      <td>{{row.language}}</td>
      <td>{{row.form_obuchenia}}</td>
      <td>{{row.UID_Semester}}</td>
      <td>{{row.StudentAmount}}</td>
      <td>{{row.kind_of_work}}</td>
      <td>{{row.napravlennost}}</td>
      <td>{{row.UID_Course}}</td>
      <td>{{row.amount}}</td>
<!--       <td>
        {{row.lecturer_fio}}
      </td> -->

    </tr>

  </tbody>

   <tfoot>
      <tr>
        <th ng-if="system_mode != 'mode_archive'">
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>   
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <!-- <th></th> -->
      </tr>
    </tfoot>


  </table>

  <a ng-click="ClearGreenTableFilters(dtInstance, filter_distinct)" class="link pointer" style="float:right">сбросить фильтры</a>