<table id="DataTables_Table_uoup_chairs_refused" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="dataTable row-border hover display table "  style='margin: 0 0 ;width:100%; '>
  <thead>

    <tr>
      <th style="width: 20px" ng-show="system_mode != 'mode_archive'"></th>
      <th>Факультет</th>
      <th>Кафедра</th>
      <th>Аббр</th>
      <th>Дисциплина</th>
      <th>Группа</th>
      <th>Уровень образования</th>
      <th>Направление подготовки</th>
      <th>Язык программы</th>
      <th>Форма обучения</th>
      <th>Семестр</th>
      <th>Количество студентов</th>
      <th>Вид работ</th>
      <th>Профиль/направленность программы</th>
      <th>Курс</th>
      <th>Количество часов</th>
      <!-- <th>Преподаватель</th> -->
      <!-- <th></th> -->
      <!-- <th></th> -->

    </tr>
  </thead>

  <tbody>
     <!-- ng-click="ShowPopup(person)" -->
      <!-- | orderBy:['-selected', 'type', 'fio'] -->
    <tr ng-repeat="row in nagruzka" ng-show="row.status == 'refused'">
      <td ng-show="system_mode != 'mode_archive'">
        <button class="btn btn-primary btn-xs" ng-click="UOUPCancelRefuse(row)">Отклонить</button>
        <!-- {{row.base_uid}} -->
      </td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.department_name}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.chair_name}}</td>
      <td ng-bind-html="row.Abbr" ng-click="NagruzkaRowClick(row); $event.stopPropagation()">
      </td>
      <td ng-bind-html="row.discipline_name" ng-click="NagruzkaRowClick(row); $event.stopPropagation()">
      </td>
      <td ng-bind-html="row.group_name" ng-click="NagruzkaRowClick(row); $event.stopPropagation()">
      </td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.education_level}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.napravlenie}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.language}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.form_obuchenia}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.UID_Semester}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.StudentAmount}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.kind_of_work}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.napravlennost}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.UID_Course}}</td>
      <td ng-click="NagruzkaRowClick(row); $event.stopPropagation()">{{row.amount}}</td>
<!--       <td>
        {{row.lecturer_fio}}
      </td> -->

    </tr>

  </tbody>

   <tfoot>
      <tr>
        <th ind="0" ng-show="system_mode != 'mode_archive'">
        </th>
        <th ind="1"></th>
        <th ind="2"></th>
        <th ind="3"></th>
        <th ind="4"></th>
        <th ind="5"></th>
        <th ind="6"></th>
        <th ind="7"></th>
        <th ind="8"></th>
        <th ind="9"></th>
        <th ind="10"></th>
        <th ind="11"></th>
        <th ind="12"></th>
        <th ind="13"></th>
        <th ind="14"></th>
        <th ind="15"></th>
        <!-- <th></th> -->
      </tr>
    </tfoot>


  </table>

  <a ng-click="ClearGreenTableFilters(dtInstance, filter_distinct)" class="link pointer" style="float:right">сбросить фильтры</a>